nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') ChitChat
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item
      if isAuthenticated   
        li.nav-item   
          a.nav-link(href='/users/show') Profile
        li.nav-item   
          a.nav-link(href='/users/') Contacts  
        li.nav-item
          a.nav-link(href='/conversations/') Conversations
      if !isAuthenticated    
        li.nav-item
          a.nav-link(href='/users/new') Register
        li.nav-item
          a.nav-link(href='/login') Login 
      if isAuthenticated    
        li.nav-item
          a.nav-link(href='/logout') Logout