extends ../layouts/main.pug

block content
  .container
    header
      h1= title

    div.backdiv
      table.table.table-striped
        thead
          tr
            th Participants
            th Last Message

        tbody
          each conversation in conversations
            tr
              td 
                a(href=`/conversations/${conversation._id}`)= "USERS"
                //conversation.users.join(", ")
              td= "VALUE"
              