extends ../layouts/main.pug

block content
  .container
    header
      h1= title

    div.backdiv
      table.table.table-striped
        thead
          tr
            th User
            th Message

        tbody
          each message in conversations
            tr
              td
                a(href=`/conversations/${conversation.id}`)= conversation.title 
              td= `${conversation.user.firstName} ${conversation.user.lastName}`

    form(action=`/conversations/new`, method="GET")
          input.btn.btn-dark(type='submit', value="New")  
              