extends ../layouts/main.pug

block content
    .container
        header
            h1 New Conversation

        form(action="/conversations", method="POST")
            .form-group
                label Recipient Email 
                input.form-control(type="email", name="email")

            .form-group
                button.btn.btn-dark(type="submit") Submit