form(action=(message ? `/messages/update` : "/messages"), method="POST")
  if message
    input(type="hidden", name="message[id]", value=message.id)
  
  input(type="hidden", name="conversation[id]", value=conversation.id)

  .form-group.text
    textarea.form-control.message(name="message[content]")
      = message ? message.content : null

  .form-group.text
    button.btn.btn-dark(type="submit") Submit