extends ../layouts/main.pug

block content
  .container
    header
      h1.user ChitChat

    div.box
      table.table.table-striped   
        tbody
          each message in conversation.messages
            tr
              th.text-message= message.content
            tr  
              td= `${message.user.firstName} ${message.user.lastName}`
              td= `${message.id}`
              
    include ./form.pug

                

