extends ../layouts/main.pug

block content
  .container
    header
      h1= title

    //- div.user-container
    //-   p= message.user

    div.backdiv
      table.table.table-striped   
        tbody
          each message in conversations
            tr
              td= `${conversation.user.firstName} ${conversation.user.lastName}`
                

