extends ../layouts/main.pug
block content
  .container
    header
      h1.user Contacts

    div.backdiv
      table.table.table-striped
        thead
          tr
            td User
            td Email
        
        tbody
          each user in users
            tr
              td= `${user.firstName} ${user.lastName}`
              td= `${user.email}`
              
