extends ../layouts/main.pug
block content
  .container
    header
      h1.user Contacts

    div.backdiv
      table.table.table-striped
        thead
          tr
            td.heading User
            td.heading Email
        
        tbody
          each user in users
            tr
              td.user-info= `${user.firstName} ${user.lastName}`
              td.user-info= `${user.email}`
              
