extends ../layouts/main.pug
block content
  .container
    header
      h1.user Profile

    div.backdiv
      table.table.table-striped
        thead
          tr
            td User
            td Email
            td Actions
        
        tbody
          each user in users
            tr
              td= `${user.firstName} ${user.lastName}`
              td= `${user.email}`
              td
                a(href=`/users/${user.id}/edit`) edit
