extends ../layouts/main.pug

block content
  .container
    header
      h1 Profile 

    div
      =user.firstName
    
    div
      =user.lastName

    div
      =user.email

    div  
      a(href=`/users/${user.id}/edit`) edit
      = ` | `
      form.destroy(action=`/users/destroy`, method="POST" onsubmit=`return confirm("Are you sure you want to delete your account?")`)
        input(type="hidden", name="id", value=user.id)
        input(type="submit", value="delete")  